* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 550px;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background: #f55a5a;
  color: #fff;
}

.navbar h1 {
  font-size: 1.5rem;
}
